<h1>Edit schedule</h1>
<div>
	<%= form_for(@schedule) do |sch| %>
		<%= sch.label :teacher_id %>
		<%= collection_select(:schedule, :teacher_id, Teacher.all, :id, :name, :prompt => 'Select Teacher') %>

		<%= sch.label :lecture_session_id, 'Class' %>
		<%= collection_select(:schedule, :lecture_session_id, LectureSession.all, :id, :name, :prompt => 'Select Class') %>

		<%= sch.label :frequency %>
		<%= sch.text_field :frequency %>

		<%= sch.label :start_time %>
		<%= sch.time_select :start_time, {:ampm => true, :minute_step => 15} %>

		<%= sch.label :time_interval %>
		<%= sch.text_field :time_interval %>

		<%= sch.submit "Save changes" %>
	<% end %>
</div>