<% provide(:title, 'All Schedules') %>

<% if signed_in? %>
<div>
	<% if @teachers.count > 0 %>
			Teacher Name: <%= select(:schedule, :teacher_name, @teachers.collect { |t| [t.name, t.id] }, {:prompt => 'Select Teacher'}) %>

			<% @teachers.each do |te| %>
				<%= te.name %>
				<%= link_to "Add schedule", teacher_path(te.id) %>
			<% end %>
	<% else %>
		0 Teachers
	<% end %>

	<% if @classes.count > 0 %>
		Class Name: <%= select(:schedule, :lecture_session_name, @classes.collect { |c| [c.name, c.id] }, {:prompt => 'Select Class'}) %>
	<% else %>
		0 Classes
	<% end %>

	<h1>
		<%= pluralize(@schedules.count, "schedule")  %>
	</h1>

	<div>
		<% @schedules.each do |sch| %>
			<div>
				Teacher: <%= sch.teacher_id %>
				Class: <%= sch.lecture_session_id %>
				Frequency: <%= sch.frequency %>
				Start Time: <%= sch.start_time %>
				Interval: <%= sch.time_interval %>
			</div>

			<%= link_to "View schedule record", schedule_path(sch) %>
		<% end %>
	</div>

	<div>
	<h4>Links:</h4>
		<div>
			<%= link_to "Add new teacher", new_teacher_path %>
			<%= link_to "Add new class", new_lecture_session_path %>
		</div>
	</div>
</div>
<% else %>
<div class="center hero-unit">
	<h1>Welcome to the School Scheduler App</h1>
	<h2>This is the homepage for the application.	
	</h2>

	<%=	link_to "Sign in now!", signin_path, class: "btn btn-large btn-primary"%>
</div>
<% end %>