<h1>Edit teacher</h1>
<div>
	<%= form_for(@teacher) do |te| %>
		<%= te.label :name %>
		<%= te.text_field :name %>

		<%= te.submit "Save changes" %>
	<% end %>
</div>

<%= link_to "<< Back to index", schedules_path %>