<h1>Add new teacher</h1>
<div>
	<%= form_for(@teacher) do |te| %>
		<%= render 'shared/error_messages', object: te.object %>
		<%= te.label :name %>
		<%= te.text_field :name %>

		<%= te.submit "Add teacher" %>
	<% end %>
</div>

<%= link_to "<< Back to index", schedules_path %>