<h1>Edit class</h1>
<div>
	<%= form_for(@class) do |cl| %>
		<%= cl.label :name %>
		<%= cl.text_field :name %>

		<%= cl.submit "Save changes" %>
	<% end %>
</div>

<%= link_to "<< Back to index", schedules_path %>