<% provide(:title, 'Add Class') %>

<h1>Add new class</h1>
<div>
	<%= form_for(@class) do |cl| %>
		<%= render 'shared/error_messages', object: cl.object %>
		<%= cl.label :name %>
		<%= cl.text_field :name %>

		<%= cl.submit "Add class" %>
	<% end %>
</div>

<%= link_to "<< Back to index", schedules_path %>